@{
    ViewData["Title"] = "JayVerse | Studies";
}

<div>
    <h1 class="text-center">Studies</h1>

    <div class="d-flex align-items-center justify-content-between">
        <h3>Thing's I've studied</h3>
        <button class="btn btn-success"><i class="fas fa-folder-plus"></i></button>
    </div>

    <table class="table">
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>

</div>
