:root{
    --teste: #0094ff;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 90px;
    background-color: #f8f9fa;
}

a{
    text-decoration: none !important;
    color: inherit;
}

#Footer{
    min-height: 90px;
}
